@charset "UTF-8";
/** Général 
/* */
@import url("https://necolas.github.io/normalize.css/");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/** variables */
.fa-list-ul {
  color: #7e7e7e;
}

.fa-store {
  color: #9356DC;
}

.fa-mobile-screen-button {
  color: #7e7e7e;
}

.fa-utensils {
  color: #c2c2c2;
}

.fa-handshake-angle {
  color: #d9d3d3;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/**
(BEM)
**/
.navbar {
  display: flex;
  width: 100%;
  height: 7.0625rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.031325rem;
}
.navbar__logo {
  display: flex;
  width: 100%;
  height: 3.9375rem;
  padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.navbar__localisation {
  display: flex;
  width: 100%;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  background-color: #eaeaea;
}
.navbar__localisation-title {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  width: 7rem;
  height: 2rem;
  background: var(--grey-2, #EAEAEA);
}
.navbar__localisation-title:focus {
  width: 8rem;
  border: 1px solid black;
}

@keyframes temps {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.page_chargement {
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  animation: temps 1s 2s forwards;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.load {
  width: 39vh;
  height: 22.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards cubic-bezier(0.99, 0.69, 0.62, 1.02);
  animation-direction: alternate;
}
.load__bar--1 {
  animation-delay: 333.3333333333ms;
}
.load__bar--2 {
  animation-delay: 666.6666666667ms;
}
.load__bar--3 {
  animation-delay: 1000ms;
}

.load__bar--1 {
  background-color: #99e2d0;
}

.load__bar--2 {
  background-color: #9356dc;
}

.load__bar--3 {
  background-color: #ff79da;
}

/*** Main contenair ***/
.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f6f6f6;
}
.reservation__tittle {
  margin-top: 2.44rem;
  width: 17.1875rem;
  height: 4.25rem;
  font-family: Roboto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.reservation__content {
  width: 22.6875rem;
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 300;
}
.reservation__button {
  cursor: pointer;
  margin: 3rem 0 3rem 0;
  width: 13.625rem;
  height: 3.125rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
}
.reservation__button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.78);
}
.reservation__button span {
  padding: 0.81rem 0.81rem 1.17rem 1.17rem;
  display: flex;
  width: 14.28094rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

/** Fonctionnement **/
.fonctionnement {
  width: 100%;
  margin-top: 3rem;
  gap: 3rem;
}
.fonctionnement__title {
  text-align: left;
  font: 700 1.5rem Roboto, sans-serif;
  margin-left: 1.25rem;
}
.fonctionnement__restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1.25rem 1.7rem 2rem 1.7rem;
}
.fonctionnement__restaurant .choose__restaurant,
.fonctionnement__restaurant .compose__menu,
.fonctionnement__restaurant .de__restaurant {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  gap: 2rem;
  width: 100%;
  height: 4.52369rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__badge {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.6rem;
}
.fonctionnement__restaurant span {
  display: flex;
  align-items: center;
  color: #fff;
}
.fonctionnement__restaurant p {
  font-weight: 500;
  font-family: Roboto;
  font-size: 1rem;
}
.fonctionnement .compose__content {
  font: 500 1rem roboto;
}

/** 
restaurant
**/
.plats {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  gap: 1rem;
}
.plats__title {
  padding-top: 2rem;
  margin-left: 1.25rem;
  font: 700 1.5rem Roboto, sans-serif;
}
.plats__img {
  width: 100%;
  height: 11.4375rem;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.plats__menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 1.4rem;
}
.plats__card {
  position: relative;
  border-radius: 0.9375rem;
  width: 100%;
  height: 15rem;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 2s;
  /* &:hover {
     transform: translatez(30px);
   } */
}
.plats__badge {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  width: 5rem;
  height: 1.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /****/
  border-radius: 0.125rem;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.plats__badge_title {
  color: #108700;
}
.plats__content {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.plats__content p {
  font: 700 1.125rem;
}
.plats__content p {
  font: 300 0.9625rem Roboto;
}
.plats__coeur {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  margin-top: -1.3rem;
}
.plats_coeur-color {
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 4s;
}
.plats_coeur-color:hover {
  opacity: 1;
  color: #ff79da;
  background: linear-gradient(194deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
}

/**Footer**/
.footer {
  width: 100%;
  display: flex;
  padding: 1.375rem 1.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: #353535;
}
.footer__title {
  width: 8.59888rem;
  height: 1.6875rem;
  color: #fff;
  font: 400 1.5rem Shrikhand, sans-serif;
}
.footer__infos--restaurant {
  display: flex;
  gap: 1rem;
}
.footer__subtitle {
  color: #fff;
  font: 500 1rem Roboto, sans-serif;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer__content p {
  color: #fff;
  font: 400 1rem Roboto, sans-serif;
}

/*** 
Media queries
***/
/* Desktops */
@media (min-width: 1200px) and (max-width: 3900px) {
  .reservation__button {
    margin-top: 1rem;
  }
  .reservation__tittle {
    font: 700 2.5rem Roboto, sans-serif;
    width: 100%;
  }
  .reservation__content {
    font: 300 1.125rem Roboto, sans-serif;
    width: 100%;
    margin-top: -1.3rem;
    color: #353535;
  }
  .fonctionnement {
    padding: 0rem 11.25rem;
  }
  .fonctionnement__restaurant {
    flex-direction: row;
  }
  .plats {
    padding: 0rem 11.25rem;
    gap: 1.75rem;
    padding-bottom: 2rem;
    position: relative;
  }
  .plats__menus {
    gap: 6.25rem;
    flex-direction: row;
  }
  .plats__card {
    height: 15.6875rem;
  }
  /***footer*/
  .footer {
    flex-direction: row-reverse;
    padding: 1.875rem 1.5625rem;
    align-items: flex-end;
    gap: 1rem;
    flex-shrink: 0;
  }
  .footer__content {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer__title {
    padding-bottom: 2.2rem;
  }
}
/** main Contenair restaurant**/
/*
keyframes  plats
*/
@keyframes card-flip {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.contenair {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contenair__img {
  width: 100%;
  width: 100%;
  height: 16rem;
}
.contenair__lapalette {
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background: #f6f6f6;
  position: relative;
  z-index: 99;
  margin-top: -56px;
}
.contenair__menu {
  display: flex;
  flex-direction: column;
}
.contenair__card {
  margin: 1rem;
}
.contenair__restaurant {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.contenair__title {
  font: 400 1.75rem Shrikhand;
}
.contenair__content__menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.contenair__content {
  transform: scale(0);
  animation: card-flip 1000ms ease-in-out forwards;
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem;
  gap: 0.3125rem;
  width: 100%;
  height: 4.3125rem;
  border-radius: 0.94019rem;
  background: var(--white, #fff);
  overflow: hidden;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
.contenair__content:hover .contenair__animation {
  position: absolute;
  right: 0;
  width: 5rem;
  transition: 2s 0s;
}
.contenair__content:hover .contenair__content__prix {
  margin-right: 5rem;
  transition: 3s;
}
.contenair .contenair__animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6875rem;
  height: 4.3125rem;
  color: #99e2d0;
  border-radius: 0 23% 23% 0;
  position: absolute;
  top: 0;
  right: -22rem;
  transition-duration: 3s;
  transition-timing-function: linear;
  background-color: #99e2d0;
}
.contenair__contenair__content, .contenair__content__title, .contenair__content__subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contenair .fa-check {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2rem;
}
.contenair .contenair__border {
  width: 30%;
}
.contenair .contenair__subtitle {
  text-transform: uppercase;
  font: 300 1rem roboto;
  border-bottom: 2px solid #99e2d0;
  padding-bottom: 0.7rem;
  width: 7%;
}
.contenair__content__price {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  margin-top: -1.3rem;
}
.contenair__button {
  gap: 2.5rem;
  margin: 2rem;
  margin: 1rem auto 2rem auto;
  color: var(--white, #fff);
  text-align: center;
  /* Button */
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  width: 11.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.contenair__button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.78);
}

.flip-0 {
  animation-delay: 0s;
}

.flip-1 {
  animation-delay: 0.3s;
}

.flip-2 {
  animation-delay: 0.6s;
}

.flip-3 {
  animation-delay: 0.9s;
}

.flip-4 {
  animation-delay: 1.2s;
}

.flip-5 {
  animation-delay: 1.5s;
}

.flip-6 {
  animation-delay: 1.8s;
}

.flip-7 {
  animation-delay: 2.1s;
}

.flip-8 {
  animation-delay: 2.4s;
}

/**Footer**/
.footer {
  width: 100%;
  display: flex;
  padding: 1.375rem 1.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: #353535;
}
.footer__title {
  width: 8.59888rem;
  height: 1.6875rem;
  color: #fff;
  font: 400 1.5rem Shrikhand, sans-serif;
}
.footer__infos--restaurant {
  display: flex;
  gap: 1rem;
}
.footer__subtitle {
  color: #fff;
  font: 500 1rem Roboto, sans-serif;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer__content p {
  color: #fff;
  font: 400 1rem Roboto, sans-serif;
}

.nav_bar {
  display: flex;
  flex-direction: column;
}
.nav_bar .nav_bar___logo {
  display: flex;
  width: 100%;
  height: 3.9375rem;
  padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
  align-items: center;
  gap: 2.625rem;
  flex-shrink: 0;
}

/*** 
Media queries
***/
@media (min-width: 767px) and (max-width: 1199px) {
  body {
    margin-bottom: 0;
  }
  .contenair .contenair__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contenair .contenair__card {
    width: 46%;
  }
  .contenair .grow-1,
  .contenair .grow-2 {
    flex-grow: 1;
  }
  .contenair .grow-3 {
    flex-grow: 2;
    margin: 1rem 1rem;
  }
  .contenair .contenair__button {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .contenair .child {
    border-bottom: 2px solid #99E2D0;
    width: 4%;
  }
  .footer {
    flex-direction: row-reverse;
    padding: 1.875rem 1.5625rem;
    align-items: flex-end;
    gap: 1rem;
  }
  .footer__content {
    flex-direction: row;
    align-items: flex-end;
  }
}
/* Desktops */
@media (min-width: 1200px) and (max-width: 5440px) {
  .logo_ohmyfood {
    margin: 0 auto;
  }
  .contenair {
    width: 100%;
  }
  .contenair__lapalette {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  .contenair .contenair__article {
    display: flex;
    flex-direction: column;
  }
  .contenair .contenair__subtitle {
    border-bottom: 2px solid #99E2D0;
    width: 4%;
  }
  .contenair__menu {
    margin: 0 5rem;
  }
  .footer {
    flex-direction: row-reverse;
    padding: 1.875rem 1.5625rem;
    align-items: flex-end;
    gap: 1rem;
    flex-shrink: 0;
  }
  .footer__content {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer__title {
    padding-bottom: 2.2rem;
  }
}/*# sourceMappingURL=styles.css.map */