
/**Media Queries**/

/* tablttes */
/*  */
@media (min-width: 1024px) {
    body{
        max-width: 1440px ;
    }
  .contenair {
    .contenair__lapalette {
        margin-left:12rem;
        margin-right: 12rem;
    }
    .contenair__img {
      height: 16rem;
    }
    .contenair__card {
        margin-left:8rem;
        margin-right: 8rem;
    }
 
    .contenair__entree{
        margin-left: 10rem;
    }
  }

  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .footer__content {
    flex-direction: row;
    color: var(--white, #fff);
    margin-top: 2.7rem;
  }

  .footer__title {
    margin-top: -2.2rem;
    padding-right: 1rem;
  }
  .nav_bar___logo{
    img {
      margin: 0 auto;
    }
  }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
  .contenair {
    .contenair__lapalette {
        margin-left:12rem;
        margin-right: 12rem;
    }
    .contenair__img {
      height: 16rem;
    }
    .contenair__card {
        margin-left:8rem;
        margin-right: 8rem;
    }
    .contenair__entree{
        margin-left: 10rem;
    }
  }

  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .footer__content {
    flex-direction: row;
    color: var(--white, #fff);
    margin-top: 2.7rem;
  }
  .footer__title {
    margin-top: -2.2rem;
    padding-right: 1rem;
  }
 .nav_bar___logo {
    img {
      margin: 0 auto;
    }
  }
}

/* Extra large screens */
@media (min-width: 1920px) {
    .contenair {
        .contenair__lapalette {
            margin-left:12rem;
            margin-right: 12rem;
        }
        .contenair__img {
          height: 16rem;
        }
        .contenair__card {
        
        }
        &__plats,
        &__desserts,
        &__entree {
        }
        .contenair__entree{
            margin-left: 3.4rem;
        }
      }
    
      .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
      }
      .footer__content {
        flex-direction: row;
        color: var(--white, #fff);
        margin-top: 2.7rem;
      }
      .footer__title {
        margin-top: -2.2rem;
        padding-right: 1rem;
      }
      .nav_bar___logo{
        img {
          margin: 0 auto;
        }
      }
}

/** Function **/
