/*** 
Media queries
***/

@media (max-width: 1024px) {

}

/* Desktops */
@media (min-width: 1200px) and (max-width: 3900px) {
  .reservation {
    &__button {
      margin-top: 1rem;
    }
    &__tittle {
      font: 700 2.5rem $body_font;
      width: 100%;
    }
    &__content {
      font: 300 1.125rem $body_font;
      width: 100%;
      margin-top: -1.3rem;
      color: map-get($colors, "loc_title");
    }
  }

  .fonctionnement {
    padding: 0rem 11.25rem;
    &__restaurant {
      flex-direction: row;
    }
    &__title {
    }
  }

  .plats {
    padding: 0rem 11.25rem;
    gap: 1.75rem;
    &__menus {
      gap: 6.25rem;
      flex-direction: row;
    }
    &__card {
      height: 15.6875rem;
    }
    padding-bottom: 2rem;
    
    &__badge {
        right: -22.5rem;
      }
  }
  /***footer*/
  .footer {
    flex-direction: row-reverse;
    padding: 1.875rem 1.5625rem;
    align-items: flex-end;
    gap: 1rem;
    flex-shrink: 0;
   
  }
  .footer__content {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer__title{
    padding-bottom: 2.2rem;
  }
}
