/**
             Header (BEM)
**/

.navbar {
  display: flex;
  width: 100%;
  height: 7.0625rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.031325rem;
  &__img {
  }
  &__logo {
    display: flex;
    width: 100%;
    height: 3.9375rem;
    padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
    justify-content: center;
    align-items: center;
    @include navbar-shadow;
  }
  &__localisation {
    display: flex;
    width: 100%;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
    gap: 1.0625rem;
    background-color: map-get($colors, "title_color");
  } //endlocalisation
  &__localisation-title {
    font-family: $body_font;
  }
}//endnavbar
