//loader
// couleur du fond de loader
@keyframes temps {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.page_chargement {
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  animation: temps 1s 2s forwards;
}

// keyframes de bar loader
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}

.load {
  width: $size * 13;
  height: $size * 7.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  &__bar {
    height: 100%;
    width: $size;
    animation: bars $times backwards cubic-bezier(0.99, 0.69, 0.62, 1.02);
    animation-direction: alternate;

    @for $i from 1 through $num-bars {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

.load__bar--1 {
  background-color: map-get($colors, "tertiaire");
}
.load__bar--2 {
  background-color: map-get($colors, "primaire");
}
.load__bar--3 {
  background-color: map-get($colors, "secondaire");
} //End loader

/*** Main contenair ***/
//reservation
.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: map-get($colors, "main_color");
  &__tittle {
    margin-top: 2.44rem;
    width: 17.1875rem;
    height: 4.25rem;
    font-family: Roboto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__content {
    width: 22.6875rem;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 300;
  }

  &__button {
    cursor: pointer;
    margin: 3rem 0 3rem 0;
    width: 13.625rem;
    height: 3.125rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.5625rem;
    background: var(
      --button-gradient,
      linear-gradient(175deg, #9356dc 0%, #ff79da 100%)
    );
    &:hover {
      filter: brightness(1.2);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.78);
    }
  }
  &__button span {
    padding: 0.81rem 0.81rem 1.17rem 1.17rem;
    display: flex;
    width: 14.28094rem;
    color: map-get($colors, "body_color");
    font-size: 1rem;
    font-weight: 500;
  }
} //End reservation

/** Fonctionnement **/
.fonctionnement {
  width: 100%;
  margin-top: 3rem;
  gap: 3rem;

  &__title {
    text-align: left;
    font: 700 1.5rem $body_font;
    margin-left: 1.25rem;
  }
  &__restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1.25rem 1.7rem 2rem 1.7rem;

    .choose__restaurant,
    .compose__menu,
    .de__restaurant {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: map-get($colors, "main_color");
      border-radius: 1.25rem;
      gap: 2rem;
      width: 100%;
      height: 4.52369rem;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    
    }
  }
  &__badge {
    width: 1.5rem;
    height: 1.5rem;
    background-color: map-get($colors, "primaire");
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.6rem;
  }

  &__restaurant span {
    display: flex;
    align-items: center;
    color: map-get($colors, "body_color");
  }
  &__restaurant p {
    font-weight: 500;
    font-family: Roboto;
    font-size: 1rem;
  }

  .compose__content {
    font: 500 1rem roboto;
  }
}//End  fonctionnement

/** 
restaurant
**/

.plats {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: map-get($colors, "main_color");
  padding-bottom: 3rem;
  gap: 1rem;

  &__title {
    padding-top: 2rem;
    margin-left: 1.25rem;
    font: 700 1.5rem $body_font;
  }

  &__img {
    width: 100%;
    height: 11.4375rem;
    border-radius: 0.9375rem 0.9375rem 0 0;
  }

  &__menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 1.4rem;
    //perspective: 1000px;
  }
  &__card {
    position: relative;
    border-radius: 0.9375rem;
    width: 100%;
    height: 15rem;
    background-color: map-get($colors, "body_color");
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    transition: 2s;
   /* &:hover {
      transform: translatez(30px);
    } */
  }
  &__badge {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    width: 5rem;
    height: 1.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /****/
    border-radius: 0.125rem;
    background-color: map-get($colors, "tertiaire");
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &_title {
      color: #108700;
    }
  }
  &__content {
    margin-top: 0.5rem;
    margin-left: 1rem;
    p {
      font: 700 1.125rem;
    }
    p {
      font: 300 0.9625rem Roboto;
    }
  }
  &__coeur {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    margin-top: -1.3rem;
    // fa-heart
  }

  // animation coeur
  &_coeur-color {
    position: absolute;
    opacity: 0;
    transition-property: all;
    transition-duration: 4s;
  }
  &_coeur-color:hover {
    opacity: 1;
    color: #ff79da;
    background: linear-gradient(194deg, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text; //
  }
}// End restaurant

